.log {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
  
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer {
  background-color: #000000;
  color: #fc9906;
}

p {
  color: white;
}

a {
  color: #fc9906;
}