* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    padding: 30px;
    margin: auto;
    border-radius: 20px;
}

.controls {
    background-color: #24303c;
    border-radius: 4px;
    border: 1px solid #fc9906;
}



